{% extends "_layout.twig" %}

{# Saving all entries into a posts array #}
{% set events = craft.entries().section('event').all() %}

{% block content %}

	<h1 class="text-4xl text-black font-display my-4">Events</h1>

  {# Edit for events #}
	{# {% include "_includes/listing.twig" with { events: events } only %} #}
{% endblock %}

